.education {
    background-color: var(--overlayEducation);
    color: #fff;
    height: screen;
    width: 100%;
    position: relative;
}

.education:before {
    content: '';
    background: url('../../assets/images/educationBg.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}